@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
:root{
    --width-padding: 10.5rem;
    --height-padding: 3.5rem;
    --section-margin: 7rem;
}
body{
    font-size: 15px;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.head{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./images/desktop/image-hero.jpg") no-repeat;
    height: calc(650px - (2 * var(--height-padding)));
    color: white;
    padding: var(--height-padding) var(--width-padding);
}
.navigation{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.navigation .mobile{
    display: none;
}
.desktop{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.15em;
}
.items{
    cursor: pointer;
    position: relative;
    text-align: center;
}
.items:hover span{
    border-bottom: 2px solid white;
    position: absolute;
    width: 50%;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.head .heading{
    font-size: 4.5em;
    border: 2px solid white;
    width: 52%;
    text-transform: uppercase;
    padding: 2rem;
    margin: 8rem 0;
}
.section-1{
    padding: var(--height-padding) var(--width-padding);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: var(--section-margin) 0;
}
.section-img{
    width: 731px;
    height: 500px;
    background: url("./images/desktop/image-interactive.jpg");
}
.content{
    padding: 3rem 6rem;
    margin: 12rem -6rem 0 -10rem;
    background-color: #fff;
}
.content .heading{
    font-size: 3.5em;
    text-transform: uppercase;
    margin: 2rem 0;
}
.content .description{
    font-size: 1em;
    line-height: 1.5rem;
    margin: 2rem 0;
}
.section-2{
    padding: var(--height-padding) var(--width-padding);
    margin: var(--section-margin) 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.section-2 .heading{
    font-size: 3em;
    text-transform: uppercase;
}
.button-see-all{
    border: 2px solid black;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Alata', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}
.button-see-all:hover{
    background-color: black;
    color: white;
}
.card{
    grid-area: 2 / 1 / 2 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
}
.item{
    width: 100%;
    height: 450px;
    position: relative;
    cursor: pointer;
}
.item:hover .item-name{
    color: black;
}
.item-name{
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 3rem;
}
.item:nth-child(1){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-deep-earth.jpg");
}
.item:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-night-arcade.jpg");
}
.item:nth-child(3){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-soccer-team.jpg");
}
.item:nth-child(4){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-grid.jpg");
}
.item:nth-child(5){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-from-above.jpg");
}
.item:nth-child(6){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-pocket-borealis.jpg");
}
.item:nth-child(7){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-curiosity.jpg");
}
.item:nth-child(8){
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url("./images/desktop/image-fisheye.jpg");
}
.item:nth-child(1):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-deep-earth.jpg");
}
.item:nth-child(2):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-night-arcade.jpg");
}
.item:nth-child(3):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-soccer-team.jpg");
}
.item:nth-child(4):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-grid.jpg");
}
.item:nth-child(5):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-from-above.jpg");
}
.item:nth-child(6):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-pocket-borealis.jpg");
}
.item:nth-child(7):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-curiosity.jpg");
}
.item:nth-child(8):hover{
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./images/desktop/image-fisheye.jpg");
}
.footer{
    background-color: black;
    padding: 2rem var(--width-padding);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: cente;
}
.footer .logo{
    height: 1.5rem;
    margin: 1rem 0;
}
.footer .desktop{
    width: 70%;
}
.part-2{
    text-align: right;
}
.social-media{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    justify-content: flex-end;
}
.icon{
    border-bottom: 2px solid black;
    padding-bottom: 0.5rem;
}
.icon:hover{
    border-bottom: 2px solid white;
}
.copyright{
    margin: 1.5rem 0;
    letter-spacing: 2px;
    font-size: 0.8em;
    opacity: 0.7;
}

